body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  padding: 0px 100px;
}

nav img {
  height: 20px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 40px;
  color: hsl(233, 8%, 62%);
  font-size: 14px;
  height: 40px;
  padding-top: 20px;
}

nav ul li:hover {
  color: #000;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 4px solid;
  border-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    )
    1;
  height: 40px;
  padding-top: 16px;
}

.btn-request-invite {
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  color: #fff;
  font-weight: 700;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 0px 30px;
}

.btn-request-invite:hover {
  opacity: 0.6;
  cursor: pointer;
}

/*
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%) 
*/
